/*http://colorschemedesigner.com/csd-3.5/*/

html {
    background-color: #1d7373;
}
body {
    /*width: 75%;*/
    width: 800px;
    /*min-width: 35em;*/
    margin: 0 auto;
}
a {
    color: #1d7373;
    font-size: 1em;
    text-decoration: none;
}
a:hover {
    font-style: oblique;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
p {
    font-size: 0.8em;
    color: #477286;
}
#container {
    background-color: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    /*width: 75%;*/
    width: 800px;
    min-width: 35em;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    font-family: Verdana, Geneva, sans-serif;
}
#header {
    background-color: #33cccc;
    top: 0;
    bottom: 0;
    height: 5em;
    text-transform: lowercase;
}
#titlecontainer {
    float: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.title {
    color: #006363;
    font-weight: lighter;
    line-height: 0;
}
#description {
    float: right;
    padding: 0.5em;
    font-family: "Lucida Console", Monaco, monospace;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}
#description p {
    color: #fff;
}
#navbar {
    clear: both;
    background-color: #477286;
    height: 2em;
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
}
#navbar a {
    color: #fff;
    font-weight: bold;
    font-style: normal;
}
#navbar a:hover {
    font-weight: normal;
}
#navbar ul {
    list-style-type: none;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 0.8em;
}
#navbar ul li {
    display: inline;
    margin-right: 1em;
}
#content {
    clear: both;
    position: absolute;
    overflow: auto;
    top: 7em;
    bottom: 0;
    padding-top: 2em;
    padding-left: 8em;
}
#content a {
    font-weight: bold;
}
#content a:hover {
    font-style: oblique;
}
#content ul {
    font-size: 0.8em;
    color: #477286;
}
#contentanchors {
    padding-top: 2em;
    font-size: 0.8em;
}
.contentheader {
    color: #006363;
}
.text {
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 1.5em;
}
.contentsubheader {
    color: #006363;
}
#sidebar {
    position: fixed;
    top: 9em;
    bottom: 2em;
    width: 6.5em;
    margin: 0 auto;
    border-right: 1px dashed #000;
    padding-left: 0.5em;
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: lowercase;
}
.sidebarheader {
    color: #006363;
}
#sidebar ul {
    padding: 0.5em;
    list-style-type: none;
    font-size: 0.8em;
}
